@blanco:  #ffffff;
@sp: 0px!important;
@sm: 0px!important;


body{
	
}

nav a{
	color:white!important;
}

.sin-margen{
	margin:@sp;
	padding:@sm;
}

.auto{
	width:90vw;
	margin-right:auto;
	margin-left:auto;
}

.auto2{
	width:40vw;
	margin-right:auto;
	margin-left:auto;
}

.texto-negro{
	color:black!important;
}
